@model  List<UserRoleManager>

@{
    var roleId = ViewBag.RoleId;
}


<h1 class="mb-5">Roles</h1>

<div class="card">
    <div class="card-header">
        Lists
    </div>
    <form method="post">
    <div class="card-body">
        @for (int i=0; i<Model.Count;i++)
        {   
            <div class="form-check m-1">
                <input type="hidden" asp-for="@Model[i].RoleId" />
                <input type="hidden" asp-for="@Model[i].RoleName" />
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].IsSelected">
                            @Model[i].RoleName
                </label>
            </div>
        }

    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-info"> Update </button>
        <a class="btn btn-info" asp-controller="Administration" asp-action="Index"> Cancel </a>
    </div>
    </form>
   
</div>