<!DOCTYPE html>
@{
    string userId = UserManager.GetUserId(User);
}

<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdstraTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="~/css/site.css"  />
    <link rel="stylesheet" href="~/adstra_task.styles.css" asp-append-version="true" />
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"  />

</head>
<body>
    <header class="box-shadow shadow-lg" >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AdstraTech<span >Task</span></a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse  collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav  ">
                        <li class="nav-item ">
                            <a class="nav-link "  asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>                        

                    </ul>
                    <ul class="navbar-nav" >
                         @if (SignInManager.IsSignedIn(User))
                        {
                            if ((await authorizationService.AuthorizeAsync(User,"admin")).Succeeded
                                ||(await authorizationService.AuthorizeAsync(User,"user")).Succeeded)
                            {
                                <li class="nav-item " style="background-color:cornsilk;margin-right:10px" >
                                    <a class="nav-link  text-dark" asp-area="Administration" asp-controller="Administration" asp-action="Index">Dashboard</a>
                                </li>
                            }
                            <li class="nav-item dropdown" >
                                
                                <a class="nav-link dropdown-toggle "  id="navbarDropdown" 
                                role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-route-id="@userId" 
                                asp-controller="Account" asp-action="Profile">

                                    <i class="fa fa-user" aria-hidden="true"></i>
                                     @User.Identity.Name</a>
          
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile" asp-route-id="@userId">Profile</a></li>
                                <li><hr class="dropdown-divider border-3"></li>
                                <form  method="post" asp-controller="Account" asp-action="Logout" >
                                <li  >
                                    <button  class="dropdown-item " type="submit" onchange="this.form.submit()">
                                        Sign out 
                                    </button>
                                </li>
                                </form>
                              </ul>
                            </li>

                      
                        }
                         else
                        {
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">SignUp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">SignIn</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="mt-5 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer   text-muted">
        <div class="container">
            &copy; 2023 - adstra_task - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

      <script>
    AOS.init();
  </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
