@using adstra_task.ViewModels;
@model IEnumerable<UsersViewModel> 

@{
    string CUserId = UserManager.GetUserId(User);

    ViewData["Title"] = "Index";
}

<div  class="text-center">
         @if(@ViewBag.Error != null )
            {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
            }else if(@ViewBag.ErrorAccess != null){
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorAccess
        </div>
            }
</div>

@if(Model.Any()){
<div class="card">
    <div class="card-header">
        <h3>Users</h3>
    </div>
    <div class="card-body">
        <table id="myTable" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @if ((await authorizationService.AuthorizeAsync(User, "admin")).Succeeded)
                {
                    <form method="post" >
                        <button type="submit" class="o btn btn-danger" asp-controller="Administration"  asp-action="DeleteUser" asp-route-id="@item.Id">Delete</button>
                    </form>
                    <a class="o btn btn-info"  asp-controller="Account" asp-action="Profile" asp-route-id="@item.Id">Profile</a> 
                    <a class="o btn btn-primary" asp-action="ManageRoles" asp-route-Id="@item.Id" asp-route-userId="@CUserId">Edit</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
}
else{
    <div class="m-auto">
        <p>No Data!</p>
    </div>
}
<script src="~/Theme/vendor/jquery/jquery.min.js"></script>
<script src="~/js/site.js"></script>