@model ProfileViewModel


<h1>@Model.FullName</h1>



<h1>User:@Model.UserName</h1>



<h1>@Model.PhoneNumber</h1>



<h1>@Model.Email</h1>

<h1>@Model.City</h1>
<h1>@Model.Id</h1>



            <div class="text-center">
                <a asp-controller="account" asp-action="EditUserProfile" asp-route-Id="@Model.Id"  class="btn btn-primary" >
                Go    
                </a>
            </div>
